version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: scholarship_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:alpine
    container_name: scholarship_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  mongo_data:
